/* line 7, ../sass/style.scss */
body {
  background-color: #020201;
  color: #030201;
  padding: 0;
  margin: 0;
  min-width: 1024px;
}

/* line 18, ../sass/style.scss */
body, html {
  height: 100%;
  width: 100%;
}

/* line 23, ../sass/style.scss */
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  z-index: 53;
}
/* line 30, ../sass/style.scss */
nav ul li {
  font-size: 30px;
  font-weight: bold;
  display: inline;
  padding-right: 20px;
}
/* line 37, ../sass/style.scss */
nav a, nav a:visited {
  color: #ff0000;
}

/* line 42, ../sass/style.scss */
article {
  height: 100%;
}

/* line 51, ../sass/style.scss */
section {
  position: relative;
  min-height: 300px;
  width: 100%;
}
/* line 57, ../sass/style.scss */
section .box {
  background: #ff0000;
  height: 20px;
}

/* line 62, ../sass/style.scss */
.about-section {
  background: url("../img/cityscape.png") no-repeat;
  background-size: 100%;
  width: 100%;
}

/* line 68, ../sass/style.scss */
.about-pic {
  position: absolute;
  min-width: 200px;
  max-height: 100%;
  max-width: 120px;
  max-width: 500px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
}

/* line 83, ../sass/style.scss */
.logo {
  margin: 0 auto;
  position: relative;
  top: 150px;
}

/* line 88, ../sass/style.scss */
.img-holder {
  width: 100%;
}
