@font-face {
  font-family: "asherFont";
  src: url("../fonts/Raisonne_Demibold.woff"), url("../fonts/Raisonne_Demibold.ttf"), url("../fonts/Raisonne_Demibold.svg");
}

/* line 11, ../sass/style.scss */
body {
  background-color: #020201;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 1200px;
  margin: 0 auto;
}

/* line 22, ../sass/style.scss */
body, p, h1, h2, h3, nav, ul, li {
  font-family: "asherFont";
}

/* line 23, ../sass/style.scss */
body, html {
  height: 100% !important;
  width: 100%;
}

/* line 27, ../sass/style.scss */
h2 {
  font-size: 12px;
  text-decoration: underline;
  padding-top: 30px;
  margin-top: 0;
}

/* line 34, ../sass/style.scss */
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 53;
  color: #fff;
}
/* line 46, ../sass/style.scss */
nav ul li {
  font-size: 18px;
  font-weight: 100;
  display: inline;
  padding-right: 20px;
}
/* line 51, ../sass/style.scss */
nav ul li a {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
/* line 57, ../sass/style.scss */
nav a, nav a:visited {
  color: #fff;
}

/* line 62, ../sass/style.scss */
article {
  height: 100% !important;
}

/* line 69, ../sass/style.scss */
section {
  position: relative;
  min-height: 768px;
  width: 100%;
  height: 100% !important;
}
/* line 77, ../sass/style.scss */
section .box {
  background: #ff0000;
  height: 20px;
}

@media (min-width: 1200px) {
  /* line 82, ../sass/style.scss */
  .background-full {
    background-size: 100% !important;
  }
}

/* line 88, ../sass/style.scss */
.g-background-default {
  background: #000 !important;
}

/*==============-=======

INTRO SECTION
==============-======= */
/* line 95, ../sass/style.scss */
.intro-arrow {
  position: absolute;
  text-align: center;
  bottom: 100px;
  width: 100%;
}
/* line 101, ../sass/style.scss */
.intro-arrow .icn-arrow {
  margin: 0 auto;
}

/* line 106, ../sass/style.scss */
.logo {
  margin: 0 auto;
  position: relative;
  top: 100px;
  margin-bottom: 150px;
}

/* line 112, ../sass/style.scss */
.img-holder {
  width: 100%;
}

/* line 122, ../sass/style.scss */
.skyscrapers {
  background: url("../img/cityscape.png") no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 131, ../sass/style.scss */
.clouds {
  position: absolute;
}

/* line 136, ../sass/style.scss */
.cloud-3 {
  top: -140px;
  width: 25%;
}

/* line 140, ../sass/style.scss */
.about-pic {
  position: absolute;
  min-width: 200px;
  max-height: 100%;
  max-width: 350px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
}

/* line 154, ../sass/style.scss */
.about-quote {
  margin-top: 50px;
}

/* line 158, ../sass/style.scss */
.soundcloud {
  width: 250px;
  float: right;
  margin-right: 100px;
}

/* line 7, ../sass/_music-section.scss */
.music-background {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: url("../img/music-background.jpg") no-repeat;
  background-position: center;
  position: relative;
}

/* line 16, ../sass/_music-section.scss */
.stars-bg {
  width: 100%;
  height: 100%;
  background: url("../img/stars-music.png") repeat;
}

/* line 22, ../sass/_music-section.scss */
.music-section-header {
  width: 100%;
  padding-top: 100px;
  position: relative;
}
/* line 26, ../sass/_music-section.scss */
.music-section-header .large-text-wrap {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
/* line 31, ../sass/_music-section.scss */
.music-section-header ul {
  color: #070a0d;
  font-size: 100px;
  letter-spacing: 20px;
  text-align: center;
  list-style: none;
  padding: 0;
  line-height: 110px;
  display: inline-block;
}
/* line 41, ../sass/_music-section.scss */
.music-section-header span {
  font-size: 16px;
  color: #fff;
  position: absolute;
  letter-spacing: 3px;
  text-decoration: underline;
}
/* line 48, ../sass/_music-section.scss */
.music-section-header .a-underline {
  left: 38%;
}
/* line 51, ../sass/_music-section.scss */
.music-section-header .little-underline {
  left: 43%;
}
/* line 54, ../sass/_music-section.scss */
.music-section-header .night-underline {
  left: 36%;
}
/* line 58, ../sass/_music-section.scss */
.music-section-header .music-underline {
  left: 48%;
}

/* line 62, ../sass/_music-section.scss */
.stars-background {
  position: absolute;
}

/* line 42, icons/*.png */
.icons-sprite, .icn-arrow {
  background: url('../img/icons-s2d5d81a68a.png') no-repeat;
}

/* line 8, ../sass/_sprites.scss */
.icn {
  display: block;
}

/* line 11, ../sass/_sprites.scss */
.icn-arrow {
  background-position: 0 0;
  height: 41px;
  width: 61px;
}

/* line 7, ../sass/_norse-poster.scss */
.norse-poster-bg-part-01 {
  background: url("../img/norse-poster-bg-01.jpg") no-repeat;
  background-position: 50% 100%;
  height: 100%;
}

/* line 15, ../sass/_norse-poster.scss */
.norse-poster-bg-part-02 {
  background: url("../img/norse-poster-bg-02.jpg") no-repeat;
  background-position: center;
  background-position: 50% 0%;
  height: 100%;
}

/* line 23, ../sass/_norse-poster.scss */
.poster-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* line 28, ../sass/_norse-poster.scss */
.norse-poster {
  margin: 0 auto;
  max-height: 700px;
  padding-top: 40px;
}
@media (min-width: 1200px) and (min-height: 900px) {
  /* line 28, ../sass/_norse-poster.scss */
  .norse-poster {
    max-height: 900px;
  }
}

/* line 38, ../sass/_norse-poster.scss */
.norse-poster-title {
  position: absolute;
  margin: 0 auto;
  z-index: 10;
  left: 0;
  right: 0;
  top: 110px;
  max-width: 500px;
  width: 30%;
}

/* line 49, ../sass/_norse-poster.scss */
.video-link {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
}
/* line 54, ../sass/_norse-poster.scss */
.video-link a {
  color: #fff;
  font-size: 50px;
}
/* line 57, ../sass/_norse-poster.scss */
.video-link a:hover {
  color: #00ffff;
}

/* line 1, ../sass/_clientele.scss */
#clientele {
  font-size: 40px;
  color: #272726;
}

/* line 9, ../sass/_clientele.scss */
.client-bg {
  background: url("../img/client-bg.jpg") no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
/* line 16, ../sass/_clientele.scss */
.client-bg h2 {
  text-align: center;
  margin: 0;
  padding-top: 30px;
}
/* line 22, ../sass/_clientele.scss */
.client-bg p {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding: 0 30px 0 30px;
  position: relative;
  top: 15%;
}

/* line 1, ../sass/_connect.scss */
#connect {
  background: #e6e2e2;
  color: #7d7e7e;
}

/* line 6, ../sass/_connect.scss */
.connect-info {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
}
/* line 12, ../sass/_connect.scss */
.connect-info address {
  font-size: 34px;
  position: relative;
  margin-top: 240px;
}
/* line 19, ../sass/_connect.scss */
.connect-info ul {
  list-style: none;
  padding: 0;
}
