@font-face {
  font-family: "asherFont";
  src: url("../fonts/Raisonne_Demibold.woff"), url("../fonts/Raisonne_Demibold.ttf"), url("../fonts/Raisonne_Demibold.svg");
}

/* line 11, ../sass/style.scss */
body {
  background-color: #020201;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 1200px;
  margin: 0 auto;
}

/* line 22, ../sass/style.scss */
body, p, h1, h2, h3, nav, ul, li {
  font-family: "asherFont";
}

/* line 23, ../sass/style.scss */
body, html {
  height: 100% !important;
  width: 100%;
}

/* line 27, ../sass/style.scss */
h2 {
  font-size: 12px;
  text-decoration: underline;
  padding-top: 30px;
  margin-top: 0;
}

/* line 34, ../sass/style.scss */
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 53;
  color: #fff;
}
/* line 46, ../sass/style.scss */
nav ul li {
  font-size: 18px;
  font-weight: 100;
  display: inline;
  padding-right: 20px;
}
/* line 51, ../sass/style.scss */
nav ul li a {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
/* line 57, ../sass/style.scss */
nav a, nav a:visited {
  color: #fff;
}

/* line 62, ../sass/style.scss */
article {
  height: 100% !important;
}

/* line 69, ../sass/style.scss */
section {
  position: relative;
  min-height: 768px;
  width: 100%;
  height: 100% !important;
}
/* line 77, ../sass/style.scss */
section .box {
  background: #ff0000;
  height: 20px;
}

/* line 82, ../sass/style.scss */
.background-full {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}
@media (max-width: 979px) {
  /* line 82, ../sass/style.scss */
  .background-full {
    background-size: 100% !important;
  }
}

/* line 97, ../sass/style.scss */
.g-background-default {
  background: #000 !important;
}

/*==============-=======

INTRO SECTION
==============-======= */
/* line 107, ../sass/style.scss */
#intro .intro-bg {
  background: url("../img/intro-bg.png") no-repeat;
  background-position: top center;
}

/* line 113, ../sass/style.scss */
.intro-arrow {
  position: absolute;
  text-align: center;
  bottom: 100px;
  width: 100%;
}
/* line 119, ../sass/style.scss */
.intro-arrow .icn-arrow {
  margin: 0 auto;
}

/* line 124, ../sass/style.scss */
.logo {
  margin: 0 auto;
  position: relative;
  top: 100px;
  margin-bottom: 150px;
}

/* line 130, ../sass/style.scss */
.img-holder {
  width: 100%;
}

/* line 140, ../sass/style.scss */
.skyscrapers {
  background: url("../img/cityscape.png") no-repeat;
  background-position: right center;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 149, ../sass/style.scss */
.clouds {
  position: absolute;
}

/* line 154, ../sass/style.scss */
.cloud-3 {
  top: -140px;
  width: 25%;
}

/* line 158, ../sass/style.scss */
.aura {
  position: absolute;
}

/* line 161, ../sass/style.scss */
.about-pic {
  position: absolute;
  min-width: 200px;
  max-height: 100%;
  max-width: 350px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
}

/* line 175, ../sass/style.scss */
.about-quote {
  margin-top: 50px;
}

/* line 7, ../sass/_music-section.scss */
.music-background {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-position: center;
  position: relative;
}

/* line 16, ../sass/_music-section.scss */
.stars-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/stars-music.png") repeat-x;
}

/* line 23, ../sass/_music-section.scss */
.music-section-header {
  width: 100%;
  padding-top: 20px;
  position: relative;
}
/* line 27, ../sass/_music-section.scss */
.music-section-header .large-text-wrap {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
/* line 32, ../sass/_music-section.scss */
.music-section-header ul {
  color: #7b8793;
  font-size: 100px;
  letter-spacing: 3px;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 60px 0 0 0;
  line-height: 85px;
  display: inline-block;
}
/* line 43, ../sass/_music-section.scss */
.music-section-header span {
  font-size: 16px;
  color: #fff;
  letter-spacing: 3px;
  text-decoration: underline;
}
/* line 50, ../sass/_music-section.scss */
.music-section-header .a-underline {
  margin-left: 95px;
}
/* line 52, ../sass/_music-section.scss */
.music-section-header .a-underline span {
  left: 0;
}
/* line 56, ../sass/_music-section.scss */
.music-section-header .little-underline {
  margin-left: 40px;
}
/* line 58, ../sass/_music-section.scss */
.music-section-header .little-underline span {
  left: 43%;
}
/* line 62, ../sass/_music-section.scss */
.music-section-header .night-underline {
  margin-left: 110px;
}
/* line 64, ../sass/_music-section.scss */
.music-section-header .night-underline span {
  left: 36%;
}
/* line 69, ../sass/_music-section.scss */
.music-section-header .music-underline span {
  left: 36%;
}

/* line 74, ../sass/_music-section.scss */
.stars-background {
  position: absolute;
}

/* line 84, ../sass/_music-section.scss */
.music-aura-green {
  top: 0;
  background: url(../img/music-aura-green.png) no-repeat;
  background-position: top center;
  opacity: 0.7;
}

/* line 90, ../sass/_music-section.scss */
.music-aura-red {
  top: 0;
  background: url(../img/music-aura-red.png) no-repeat;
  background-position: top center;
}

/* line 96, ../sass/_music-section.scss */
.soundcloud {
  width: 450px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100px;
}

/* line 42, icons/*.png */
.icons-sprite, .icn-arrow {
  background: url('../img/icons-s2d5d81a68a.png') no-repeat;
}

/* line 8, ../sass/_sprites.scss */
.icn {
  display: block;
}

/* line 11, ../sass/_sprites.scss */
.icn-arrow {
  background-position: 0 0;
  height: 41px;
  width: 61px;
}

/* line 10, ../sass/_norse-poster.scss */
.video-bg-fade {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  background: -webkit-linear-gradient(#020201, #1f2b3c);
  /* For Safari */
  background: -o-linear-gradient(#020201, #1f2b3c);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#020201, #1f2b3c);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#020201, #1f2b3c);
  /* Standard syntax (must be last) */
}

/* line 20, ../sass/_norse-poster.scss */
.video-stars {
  background: url("../img/video-stars.png") repeat-x;
}

/* line 24, ../sass/_norse-poster.scss */
.now-playing-sign {
  text-align: center;
  margin-top: 20px;
}

/* line 28, ../sass/_norse-poster.scss */
.video-aura-blue {
  background: url("../img/video-aura-blue.png") no-repeat;
  background-position: center;
}

/* line 32, ../sass/_norse-poster.scss */
.poster-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* line 38, ../sass/_norse-poster.scss */
.norse-poster {
  margin: 0 auto;
  max-height: 530px;
  padding-top: 40px;
}
@media (min-width: 1200px) and (min-height: 900px) {
  /* line 38, ../sass/_norse-poster.scss */
  .norse-poster {
    max-height: 900px;
  }
}

/* line 48, ../sass/_norse-poster.scss */
.norse-poster-title {
  position: absolute;
  margin: 0 auto;
  z-index: 10;
  left: 0;
  right: 0;
  top: 110px;
  max-width: 360px;
}

/* line 59, ../sass/_norse-poster.scss */
.play-poster {
  display: inline-block;
}

/* line 62, ../sass/_norse-poster.scss */
.video-link {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
}
/* line 67, ../sass/_norse-poster.scss */
.video-link a {
  color: #fff;
  font-size: 50px;
}
/* line 70, ../sass/_norse-poster.scss */
.video-link a:hover {
  color: #00ffff;
}

/* line 76, ../sass/_norse-poster.scss */
.play-ticket {
  border: 1px solid #fff;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  padding: 10px 0 10px 0;
}
/* line 83, ../sass/_norse-poster.scss */
.play-ticket a {
  text-decoration: none;
  color: #fff;
}
/* line 87, ../sass/_norse-poster.scss */
.play-ticket p {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 3px;
  margin: 0;
}
/* line 92, ../sass/_norse-poster.scss */
.play-ticket p:first-child {
  font-size: 20px;
}

/* line 1, ../sass/_clientele.scss */
.fade-bg-color {
  background: #e6e2e2;
}

/* line 4, ../sass/_clientele.scss */
.fade-transition {
  height: 200px;
  width: 100%;
  position: relative;
  background: -webkit-linear-gradient(#1f2b3c, rgba(31, 43, 60, 0));
  /* For Safari */
  background: -o-linear-gradient(#1f2b3c, rgba(31, 43, 60, 0));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1f2b3c, rgba(31, 43, 60, 0));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1f2b3c, rgba(31, 43, 60, 0));
  /* Standard syntax (must be last) */
}

/* line 13, ../sass/_clientele.scss */
#clientele {
  font-size: 30px;
  color: #272726;
  background: #e6e2e2;
}

/* line 20, ../sass/_clientele.scss */
.clientele-bg-fade {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient(#1f2b3c, rgba(31, 43, 60, 0));
  /* For Safari */
  background: -o-linear-gradient(#1f2b3c, rgba(31, 43, 60, 0));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1f2b3c, rgba(31, 43, 60, 0));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1f2b3c, rgba(31, 43, 60, 0));
  /* Standard syntax (must be last) */
}

/* line 34, ../sass/_clientele.scss */
.clientele-aura-tan {
  background: url("../img/clientele-aura-tan.png") no-repeat;
  background-size: 100%;
  top: 60px;
}
@media (min-width: 1024px) {
  /* line 34, ../sass/_clientele.scss */
  .clientele-aura-tan {
    background-size: 100% 80%;
  }
}

/* line 42, ../sass/_clientele.scss */
.client-bg {
  background-position: center;
  width: 100%;
  height: 100%;
}
/* line 49, ../sass/_clientele.scss */
.client-bg h2 {
  text-align: center;
  margin: 50px 0 40px 0;
  padding-top: 30px;
  font-size: 70px;
  color: #84807d;
  letter-spacing: 15px;
}
/* line 58, ../sass/_clientele.scss */
.client-bg p {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding: 0 30px 0 30px;
  position: relative;
}

/* line 1, ../sass/_connect.scss */
#connect {
  background: #e6e2e2;
  color: #7d7e7e;
}

/* line 6, ../sass/_connect.scss */
.connect-info {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
}
/* line 12, ../sass/_connect.scss */
.connect-info address {
  font-size: 34px;
  position: relative;
  margin-top: 240px;
}
/* line 19, ../sass/_connect.scss */
.connect-info ul {
  list-style: none;
  padding: 0;
}
