#connect{
	background:#fdfdfd;
	color:#7d7e7e;
}
.connect-logo-black{
	width: 100%;
	position: absolute;
	text-align: center;
	padding: 0 20px 0 20px;
	img{
		//margin:0 auto;
		margin-top:100px;
		display: inline-block;	
	}
}
.connect-info{
	margin:0 auto;
	position:relative;
	text-align:center;
	top:30%;
	address{
		padding-top:50px;
		font-size:34px;
		//margin-top:50px;
		position:relative;
		@media(max-width:767px){
			font-size:18px;
		}
	}

	ul{
		list-style:none;
		padding:0;
	}
}