#connect{
	background:#e6e2e2;
	color:#7d7e7e;
}

.connect-info{
	margin:0 auto;
	width:100%;
	position:relative;
	text-align:center;

	address{
		font-size:34px;
		//margin-top:50px;
		position:relative;
		margin-top:240px;
	}

	ul{
		list-style:none;
		padding:0;
	}
}