/*/==========================

MUSIC SECTION

//==========================*/

.music-background{
    height:100%;
    width:100%;
    margin:0 auto;
    //background:url("../img/music-background.jpg") no-repeat;
    background-position:center;
    position:relative;
   // background-size:100%;
}
.stars-bg{
    width:100%;
    height:100%;
    position:absolute;
    background:url("../img/stars-music.png") repeat;
   // background-size:100%;
}
.music-section-header{
    width:100%;
    padding-top:50px;
    position:relative;
    .large-text-wrap{
        margin:0 auto;
        width:100%;
        text-align:center;
    }
    ul{
        color:#7b8793;
        font-size:100px;
        letter-spacing:3px;
        text-align:left;
        list-style:none;
        padding:0;
        margin:60px 0 0 0;
        line-height:85px;
        display:inline-block;
        @media(max-width:480px){
            font-size:40px;
            line-height:45px;
        }
        @media(min-width:1200px){
            font-size:140px;
            line-height:120px;
        }
    }
    span{
        font-size: 16px;
        color:#fff;
        position:absolute;
        letter-spacing: 3px;
        text-decoration: underline;
        @media(max-width:767px){
            font-size: 10px;
        }
    }
    .a-underline{
        margin-left:95px;
        span{
            left:50%;
        }
    }
    .little-underline{
        margin-left:40px;
        span{
            left:43%;
        }
    }
    .night-underline{
        margin-left:110px;
        span{
            left:50%;
        }
    }
    .music-underline{
        span{
            left:36%;
        }
    }
}
.stars-background{
    //background:url("../img/stars-music.png") no-repeat;
    //height:100%;
    //width:100%;
    //background-position: 0 0;
    //background-size:100%;
    position:absolute;

}

.music-aura-green{
    top:0;
    background:url(../img/music-aura-green.png) no-repeat;
    background-position:center center;
    opacity:0.7;
    @media(max-width:480px){
        top:60px;
    }    
}
.music-aura-red{
    top:0;
    background:url(../img/music-aura-red.png) no-repeat;
    background-position:center center;
    @media(max-width:480px){
        top:60px;
    } 
}

.soundcloud{
    max-width:450px;
    //float:right;
    margin:0 auto;
    position: absolute;
    right:0;
    left:0;
    bottom:150px;

    @media(max-width:480px){
        max-width:220px;
        position: relative;
        bottom:0;
        margin-top:40px;
    }
    @media(min-width:1200px){
        bottom:100px;
    }
}
