/*/==========================

NORSE POSTER SECTION 01 - 02

//==========================*/

.norse-poster-bg-part-01{
	background:url("../img/norse-poster-bg-01.jpg") no-repeat;
	background-position:50% 100%;
	//background-position:center;
	height:100%;
	//background-size:100%;
}

.norse-poster-bg-part-02{
	background:url("../img/norse-poster-bg-02.jpg") no-repeat;
	background-position:center;
	background-position:50% 0%;
	height:100%;
	//background-size:100%;
}

.poster-container{
	width:100%;
	margin:0 auto;
	position: relative;
}
.norse-poster{
	//	display:inline-block;
	margin:0 auto;
	max-height:700px;
	padding-top:40px;

	@media(min-width:1200px) and (min-height:900px){
		max-height:900px;
	}
}
.norse-poster-title{
	position:absolute;
	margin:0 auto;
	z-index:10;
	left:0;
	right:0;
	top:110px;
	max-width:500px;
	width:30%;
	//top:200px;
}
.video-link{
	width:100%;
	margin:0 auto;
	text-align:center;
	padding-top:200px;
	a{
		color:#fff;
		font-size:50px;
		&:hover{
			color:#00ffff;
		}
	}
}