/*/==========================

NORSE POSTER SECTION 01 - 02

//==========================*/
#norse-connection{
	//background: #ccc;
	a{
		color:#fff;
	}
}
.video-bg-fade{
	width: 100%;
	height: 30%;
	position: absolute;
	bottom:0;
	background: -webkit-linear-gradient(#020201, #1f2b3c); /* For Safari */
	background: -o-linear-gradient(#020201, #1f2b3c); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#020201, #1f2b3c); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#020201, #1f2b3c); /* Standard syntax (must be last) */
}
.video-stars{
    background:url("../img/video-stars-02.png") repeat-x;
   // background-size:100%;
}
.now-playing-sign{
	text-align:center;
	margin-top:100px;
	width:100%;
	img{
		position: relative;
	}
	@media(max-width:480px){
		 margin-top:35px;
		img{
			max-width:160px;
		}
		
	}
}
.video-aura-blue{
	background:url("../img/video-aura-blue.png") no-repeat;
	background-position: center;
}
.poster-container{
	width:100%;
	margin:0 auto;
	position: relative;
	text-align: center;
}
.norse-poster{
	//	display:inline-block;
	margin:0 auto;
	max-height:530px;
	padding-top:40px;

	@media(min-width:1200px) and (min-height:900px){
		max-height:900px;
	}
	@media(max-width:480px){
		max-width:260px;
		padding-top:20px;	
	}
}
.norse-poster-title{
	position:absolute;
	margin:0 auto;
	z-index:10;
	left:0;
	right:0;
	top:90px;
	max-width:360px;
	//width:30%;
	//top:200px;
	@media(max-width:480px){
		max-width:200px;
	}
}
.play-poster{
	display: inline-block;
}
.video-link{
	width:100%;
	margin:0 auto;
	text-align:center;
	padding-top:200px;
	a{
		color:#fff;
		font-size:50px;
		&:hover{
			color:#00ffff;
		}
	}
}

.play-ticket{
	border: 1px solid #fff;
	width:500px;
	margin:0 auto;
	text-align: center;
	margin-top:25px;
	padding:10px 0 10px 0;
	a{
		text-decoration: none;
		color:#fff;
	}
	p{
		font-size:40px;
		font-weight:100;
		letter-spacing: 3px;
		margin:0;
		&:first-child{
			font-size:20px;
		}
	}
}