//Some sass
.scroll{
  position: fixed;
  top: 0;
  left: 0;
}
.scroll-mt{
	position: fixed;
  	bottom: 0;
  	left: 0;	

}
.horizon{
	width:3000px;
	height:100%;
	z-index:-3;
	background:url("../img/stars-bg.jpg")repeat;
	
}
body{
	
}
.middle{
	z-index:-1;
	width:4000px;
}
.front{
	z-index:1;
	width:6000px;
}
.copy{
	width:1000px;
	display:inline-block;
	margin:50px;
	//float:left;
	background:#ccc;
	color:#ff0000;
}
.sun{
	width:200px;
	height:200px;
}