@font-face {
  font-family: "asherFont";
  src: url("../fonts/Raisonne_Demibold.woff"),
       url("../fonts/Raisonne_Demibold.ttf"),
       url("../fonts/Raisonne_Demibold.svg");
}
html{
	//overflow:scroll;
	//height:100%;
}
body{
	background-color:#020201;
	color:#fff; //030201
	padding:0;
	margin:0;
	//min-width:1024px;
	//width:1200px;
	margin:0 auto;
	//height:100%;
	//background-attachment:fixed;
	@media(max-width:480px){
		overflow-x: hidden;
	}
}
body,p,h1,h2,h3,nav,ul,li{font-family:"asherFont";}
body,html{
	height:100% !important;
	//width:100%;
}
h2{
	font-size:12px;
	text-decoration:underline;
	padding-top:30px;
	margin-top:0;
}

nav{
	position:fixed;
	top:0;
	left:0;
	padding-left:20px;
	padding-top:20px;
	z-index:53;
	color:#fff;	
	.nav{
		//display:none;
	}
	ul{
		li{
			font-size:18px;
			font-weight: 100;
			display:inline;
			padding-right:20px;
			a{
				padding-top:2px !important;
				padding-bottom:2px !important;
				text-decoration: none;
				&:focus{
					background-color: none;
				}
			}
		}
	}
	a, a:visited{
		color:#fff;

	}
}
.moon-icon{
	background:url("../img/moon-icon.png") no-repeat;
	height:72px;
	width:72px;
	display:block;
}
article{
	//overflow:hidden;
	//white-space:nowrap;
	height:100% !important;
	//background:url("../img/stars-bg.jpg") 0 0 repeat fixed;
}

section{
	position:relative;
	min-height:768px;
	width:100%;
	height:100% !important;
	//overflow:visible;
	//border-top: 2px #ff0000 solid;
	//min-height:65%;
	.box{
		background:#ff0000;
		height:20px;
	}
	@media(max-width:480px){
		height: 500px !important;
		min-height: 500px !important;
	}
}
.background-full{
    height:100%;
    width:100%;
    margin:0 auto;
    
    position:absolute;
    
    //max-height:700px;
    //max-width:1000px;

	@media(max-width:979px){
		background-size:100% !important;
	}
}

.g-background-default{
	background:#000 !important;
}
/*==============-=======

INTRO SECTION
==============-======= */
#intro{
	
	//background-size: 100%;
	.intro-bg{
		background:url("../img/intro-bg.png") no-repeat;
		background-position: top center;
		//background-size: 100%;
	}
}
.intro-arrow{
	position:absolute;
	text-align:center;
	bottom:100px;
	width:100%;
	//position:relative;
	.icn-arrow{
		margin:0 auto;
	}
}

.logo{
	margin:0 auto;
	position:relative;
	top:100px;
	margin-bottom:150px;
}
.img-holder{
	width:100%;
	img{
		@media(max-width:480px){
			padding:0 20px 0 20px;
		}
	}
}

/*/==========================

ABOUT SECTION

//==========================*/

.skyscrapers{

	background:url("../img/cityscape.png") no-repeat;
	
	background-position:right center;
	width:100%;
	height:100%;
	position:absolute;
		@media(max-width:480px){
			background-size:100%;
		}
}
.stars-bg-x{
    width:100%;
    height:100%;
    position:absolute;
    background:url("../img/stars-music.png") repeat-x;
    @media(max-width:767px){
    	background-size:100%;
    }   
}
.clouds{
	position:absolute;
	//z-index:-100;

}
.cloud-3{
	top:-140px;
	width:25%;
}
.aura{
	position:absolute;
	width: 100%;
	height: 100%;
	.aura-red{
		position: absolute;
		right: 10%;
		top: 25%;
		@media(max-width:480px){
			width:50%;
		}
	}
	.aura-green{
		position: absolute;
		left: 10%;
		top: 15%;
		@media(max-width:480px){
			width:50%;
		}
	}
}
.about-pic{
	position:absolute;
	//height:auto;
	min-width:200px;
	max-height:100%;
	//max-width:120px;
	max-width:350px;
	//width:50%;
	right:0;
	left:0;
	bottom:0;
	margin:0 auto;
	@media(max-width:480px){
		max-width:190px;
	}

}

.about-quote{
	margin-top:50px;
	//border:1px #ff0000 solid;
}
.coming-soon{
	width:100%;
	margin-top:50px;
	padding: 0 10px 0 10px;
	text-align: center;
	img{
		display:inline-block;
		//smargin:50px 20px 0 20px;
	}
	p{
		font-size:30px;
	}
}
.remove-height{
	height:600px !important;
}

.hide{
	display:none;
}
@import "_music-section.scss";
@import "_sprites.scss";
@import "_norse-poster.scss";
@import "_clientele.scss";
@import "_connect.scss";
