@import '_test';
html{
	//overflow:scroll;
	//height:100%;
	
}
body{
	//background:#3c2d2d;
	color:#000;
	padding:0;
	margin:0;
	min-width:1024px;
	//height:100%;
	//background-attachment:fixed;


}
body,html{
	height:100%;
	width:100%;
}

nav{
	position:fixed;
	bottom:0;
	left:0;
	padding:20px;
	z-index:53;
	ul{
		li{
			font-size:30px;
			font-weight: bold;
			display:inline;
			padding-right:20px;
		}
	}
	a, a:visited{
		color:#ff0000;

	}
}
article{
	
	
	//overflow:hidden;
	//white-space:nowrap;
	height:100%;		
	//background:url("../img/stars-bg.jpg") 0 0 repeat fixed;
}

section{
	position:relative;
	min-height:300px;
	width:100%;
	//border: 5px #ff0000 solid;
	//min-height:65%;
	.box{
		background:#ff0000;
		height:20px;
	}
}
.about-section{
	
	background:#000 url("../img/cityscape.png") no-repeat;
	background-size:100%;
	width:100%;
}
.about-pic{

	position:absolute;
	//height:auto;
	min-width:200px;
	max-height:100%;
	max-width:120px;
	max-width:500px;
	//width:50%;
	right:0;
	left:0;
	bottom:0;
	margin:0 auto;

}
.img-holder{

	width:100%;
	background:#ff0000;
}



